.v-skeleton-loader__chip {
  border-radius: 16px;
  height: 20px;
  width: 96px;
}

.v-skeleton-loader__divider {
  border-radius: 1px;
  height: 1px;
}

#list-item-skeleton-loader .v-skeleton-loader__button {
  border-radius: 2px;
  height: 25px;
  width: 20px;
}

#form-skeleton-loader .v-skeleton-loader__button {
  border-radius: 2px;
  height: 45px;
  width: 100%;
}
