@import './variables_temoin';

body {
    background-color: lightgray;
}

.drawer-container {
    margin-top: 60px;
}

.test1 {
    color: $color-test1;
    background-color: grey;
}

.test2 {
    color: $color-test2;
    background-color: grey;
}
