{% extends 'base.html.twig' %}

{% block title %}Hello IdeaController!{% endblock %}

{% block body %}

<div>
    <h1>Hello {{ controller_name }}! ✅</h1>
    <div>
        <idea></idea>
    </div>
</div>


{% endblock %}
